@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
}

html {
  font-family: 'Roboto', sans-serif !important;
  scroll-behavior: smooth !important;
}
main{
  overflow: auto !important;
  scroll-behavior: smooth !important;
}
a {
  scroll-behavior: smooth !important;
}

.headerClass{
  background: rgba(117, 117, 117, 0.51);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.4px);
  -webkit-backdrop-filter: blur(6.4px);
  border: 3px solid white;
}

.white-image {
  filter: brightness(0) invert(1);
}


